
  <div class="container-fluid bg-light fixed-bottom">
    <footer class="container footer py-3 text-center">
      <span class="copy-rights">© 2021 KaviCute</span>
      <!-- <a href="#" class="px-2">Terms of Use</a> -->
    </footer>
  </div>

