<nav class="navbar navbar-expand-md navbar-light bg-light site-header">
    <div class="container-xl justify-content-start">

      <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button><a class="navbar-brand me-5" href="/"><img src="/images/z/brand/logo/desktop.svg" alt="" /></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0 d-flex fw-bold">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/growatt">Growatt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">Link 2</a>
          </li>
          <% if(user_id && user_id.length){ %> 
          <li class="nav-item dropdown">
            <form action="/users/logout" method="POST">
              <button class="btn-sm btn-outline-success">Logout</button>
            </form>
          </li>
          <% } %> 
          <% if(!user_id || !user_id.length){ %> 
          <li class="nav-item">
            <a class="nav-link" href="/users/login"><span class="d-md-none already-a-seller d-block">Already an registered? Login to get started</span>Login</a>
          </li>
          <% } %> 
        </ul>
        <button class="btn-sell-now btn btn-success text-uppercase fw-400 d-flex" type="submit">
          <span class="badge"><img src="./images/z/camera-icon.svg" alt="" /></span>Login Now
        </button>
      </div>
    </div>
  </nav>
  