  <div class="container-fluid bg-light main-content">
    <div class="col-10">
      <h1>SIMILAR LISTING</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos distinctio ad aliquam in molestias voluptatem
      possimus suscipit ipsum neque provident ipsam vel, id earum voluptatum autem iusto perferendis quae temporibus?
    </div>
  </div>