  <div class="row d-flex">
    <% for(let user of users){ %>

    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card position-relative">
        <img class="card-img-top" src="/images/002.png" alt="user image" />
        <div class="card-body">
          <h5 class="card-title">
            <%= user.fullname %>
          </h5>
          <p class="card-text"><%= user.userGroups %></p>
          <div class="col d-flex flex-row-reverse">
            <a
              href="/users/<%= user._id %>"
              class="btn btn-primary text-end"
              >VIEW</a
            >
          </div>
        </div>
      </div>
    </div>

    <% } %>
  </div>