<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light site-header">
      <div class="container-xl justify-content-center">
        <a class="navbar-brand me-5" href="/"><img src="/images/z/brand/logo/desktop.svg" alt="" /></a>
      </div>
    </nav>
      <%- body -%>
      <%- include('../partials/foot') %>
      <%- include('../partials/footScript') %>
  </body>
</html>
