body {
    font-size: 0.8em;
}
.main-content a, .footer a, .scroll-products a {
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    text-align: center;
}
a:hover{
    text-decoration: underline;
}
.max-width {
    max-width: 1204px;
    margin: 0 auto;
}
.navbar-brand{
    overflow: hidden;
    width: 42px;
}
.main-content{
    /* min-height: 100vh; */
}
.already-a-seller{
    font-size: 0.7rem;
    font-weight: 400;
}
.btn-sell-now{
    font-weight: 400;
    font-size: .8rem;
}
.navbar-toggler-icon{
    background: url(/images/nav-open.png)no-repeat center/cover !important;
    width: 1em;
    height: 1em;
}
.scroll-products a{
    display: flex;
    flex-direction: column;
}
.scroll-products a img{
    min-width: 70px;
    max-width: 100px;
}
.site-search .dropdown-menu{
    border: 1px solid rgba(0,0,0,.125);
    flex-direction: row;
    flex-wrap: wrap;
}
.site-search .dropdown-menu .list-group-item{
    border: none;
}
.form-check-input:checked{
    background-color: #00A955;
    border-color: #00A955;
}
.d-product .card-img-top{
    object-fit:contain;
    height: 10em;
}
.prop-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.prop-group .prop{
    display: flex;
    flex-direction: column;
}
.prop-group .prop-label{
    opacity: 0.4;
}

@media (max-width:766px) {
    .site-header{
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    #navbarSupportedContent{
        padding-bottom: 0.5em;
    }
    .site-search .col-12{
        padding-bottom: 0.5em;
    }
}
@media (min-width:768px) {
    .navbar-brand{
        width: auto;
    }
}